.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-text{
    color: white;
}

.project{
    border: 1px solid red;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin: 2%;
    text-align: center;
    transition: all 0.75s;
    text-decoration: none;
}
.project h2{
    color: white;
}
.project:hover{
    transform: scale(103%);
}
.fa-1, .fa-2{
    position: relative;
    top: -8%;
    border: 1px solid red;
    border-radius: 50px;
    padding: 5%;
    background-color: black;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    overflow-x: hidden;
    height: 600px;
    color: red;
}
h2{
    background-color: black;
    border: 1px solid red;
    border-radius: 30px;

}

.tech{
    background-color: black;
    border: 1px solid red;
    border-radius: 30px;
    position: relative;
    top: 61%;
    padding: 4%;
}
.tech ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.hero-text{
    height: 500px;
}
.EasyLine{
    background-image: url("../img/easyline.png");
    background-size: cover;
}
.TextAdventure{
    background-image: url("../img/textadventure.png");
    background-size: cover;
}
.Rugby{
    background-image: url("../img/rugby.png");
    background-size: cover;
}
.export_donnees, .ticket_complet, .url{
    background-image: url("../img/gallimedia/gallimedia1.png");
    background-size: 90%;
    background-repeat: none;
}
.croquette{
    background-image: url("../img/croquette.png");
    background-size: cover;
    background-repeat: none;
}
.maquette{
    background-image: url("../img/maquette-ava/Capture\ d’écran\ 2024-03-15\ à\ 10.44.45.png");
    background-size: cover;
    background-repeat: none;
}
.billeterie{
    background-image: url("../img/billeterie.png");
    background-size: 100%;
    background-color: aliceblue;
    background-repeat: none;
}

body{
    margin-top: -2%;
}

.space{
    background-image: url("../img/x-wing.png");
    background-size: cover;
    background-color: aliceblue;
}

.all{
    
    height: 90%;
}